<!DOCTYPE HTML>
<html>
 <head>
  <title>Flask-SocketIO Test</title>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <script src="static/libs/plotly-latest.min.js"></script>
   <script type="text/javascript" charset="utf-8">
     $(document).ready(function() {
      var namespace;
      var socket;
      var x = new Array();
      var y = new Array();
      var trace;
      var layout;

      $('#startStop').click(function(event) {
          console.log($('#startStop').val());

          if ($(this).val() == "start") {
            $(this).val("stop");
            $(this).text("Stop");
          }
          else {
            $(this).val("start");
            $(this).text("Start");
          }
          return false; }); 
          
      $('#closeButton').click(function(event) {
          socket.emit('disconnect_request');
          return false; }); 
          
      $('#openClose').click(function(event) {
        console.log($('#openClose').val());
        if ($(this).val() == "open") {
              $(this).val("close");
              $(this).text("Close");
            }
            else {
              $(this).val("open");
              $(this).text("Open");
            }
          
      namespace = '/test';
      socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
      
      socket.on('connect', function() {
      socket.emit('my_event', {data: 'Client connected'});
      });
      
      socket.on('my_response', function(msg) {
      console.log(msg.data);
      $('#serialId').append(msg.timeStamp+'<br>').html();
      $('#serialValue').append(msg.data+'<br>').html();
      x.push(parseFloat(msg.count));
        y.push(parseFloat(msg.data));
        trace = {
            x: x,
            y: y,
        };       
        layout = {
          xaxis: {
              title: 'time',
          },
          yaxis: {
              title: 'Voltage (V)',
              range: [0,3.3]
          }
        };
        console.log(trace);
        var traces = new Array();
        traces.push(trace);
        Plotly.newPlot($('#plotdiv')[0], traces, layout); 
      
      return false; });  
    });
});
      
    </script>

    <style>
      .tableFixHead {
        overflow-y: auto;
        height: 106px;
      }
      .tableFixHead thead th {
        position: sticky;
        top: 0;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        padding: 8px 16px;
        border: 1px solid #ccc;
      }
      th {
        background: #eee;
      }
    </style>

 </head>
 <body>
  <h1>Capacitor voltage control and monitoring</h1>
  <h2>Send:</h2>
  <form id="emit" method="POST" action="#">
    <input type="text" name="emit_value" id="emit_value" placeholder="Type voltage in range 0-3.3">
    <input type="submit" value="Set Voltage">
  </form>
  <button id="startStop" type="submit" value="start">Start</button>
  <form id="connector" method="GET" action="#" >
    <button id="openClose" type="submit" value="open">Open</button>
  </form> 
  <h2>Receive:</h2>

 <div class="tableFixHead">
      <table>
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Voltage (volts)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="serialId"></td>
            <td id="serialValue"></td>
          </tr>
        </tbody>
      </table>
    </div>
  <div id="plotdiv" style="width:600px;height:250px;"></div>
 </body>
</html>